.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  height: 64px;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav > *:not(:last-child) {
  margin-right: 32px;
}
