/* Style vars (these will become available everywhere) */
html {
  /* Colors */
  --color-white: #ffffff;
  --color-primary-medium: #1abc9c;
  --color-primary-dark: #16a085;
  --color-blue-medium: #2980b9;
  --color-grey-light: #ecf0f1;
  --color-grey-medium: #bdc3c7;
  --color-grey-dark: #34495e;
  --color-grey-ultra-dark: #2c3e50;
  --color-black: #000000;

  /* Fonts */
  --font-family-base: "Libre Franklin", sans-serif;
}

/* Global styles */
html,
body {
  margin: 0;
}
body {
  background: var(--color-grey-light);
  font-family: var(--font-family-base);
  color: var(--color-grey-ultra-dark);
}

p,
ul {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 120%;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 500;
  margin: 0;
}

a,
a:visited,
a:hover {
  color: var(--color-blue-medium);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
